@tailwind base;
@tailwind components;
@tailwind utilities;

.logo::after {
  content: "";
  width: 15px;
  height: 15px;
  background: green;
  position: absolute;
  top: 40px;
  border-radius: 100%;
}
